%h1 Edit your Poll: #{@poll.name.upcase!}
%h3 
	Your Edit Link: 
	= link_to "#{root_url}#{@poll.edit_slug}", "#{root_path}#{@poll.edit_slug}"
=link_to "Add Question", new_poll_question_path(@poll), :class => "btn pull-right", :remote => true
%h3 
	Your Share Link: 
	=link_to "#{root_url}polls/#{@poll.slug}", "#{root_path}polls/#{@poll.slug}"


= render "form", :btn_message => "Edit Poll"

%ul.questions
	- @questions.each do |question|
		%li 
			%span #{question.title}
			%div.btn-group.pull-right
				=link_to "Edit", edit_poll_question_path(@poll , question), :class => "btn"
				=link_to "Delete", poll_question_path(@poll,question), :method => :delete, :class => "btn btn-danger delete"
 