%h1 Edit your Poll: #{@poll.name.upcase!}
%h3 Your Link: #{root_url}#{@poll.edit_slug}
= link_to "Add question", new_poll_question_path(@poll), :class => "btn pull-right"

= render "form", :btn_message => "Edit Poll"

%ul.questions
	- @questions.each do |question|
		%li 
			%span #{question.title}
			%div.btn-group.pull-right
				=link_to "Edit", edit_poll_question_path(@poll , question), :class => "btn"
				=link_to "Delete", poll_question_path(@poll,question), :method => :delete, :class => "btn btn-danger delete"
