%h1 Edit your Poll: #{@poll.name.upcase!}
= link_to "Add question", new_poll_question_path(@poll), :class => "btn "

= render "form", :btn_message => "Edit Poll"

%ul
	- @questions.each do |question|
		%li 
			%span #{question.title}
			%span 
				=link_to "Edit", "/polls/#{@poll.id}/questions/#{question.id}/edit", :class => "btn"

/ Should be the correct routing => edit_poll_question(@poll , question)